<script type="application/javascript" src="http://groups.northwestern.edu/boneheads/scripts/angular.min.js"></script>
<script type="application/javascript">
angular.module('meet',[])
.controller('MembersController', function($scope, MembersService) {
	$scope.members = {};
	$scope.getPic = function(file) {
		return 'http://groups.northwestern.edu/boneheads/pulsepro/data/img/gallery/meet-us-pictures/'+file;
	}
	MembersService.getMembers().then(function() {
		$scope.members = MembersService.members;
	});
})
.factory('MembersService', function($http) {
	var url = 'http://groups.northwestern.edu/boneheads/scripts/misc.php';
	var factory = {};
	factory.members = {};
	factory.getMembers = function() {
		return $http.post(url, {a:'getMembers'})
		.success(function(data) {
			factory.members = data.members;
		});
	}
	return factory;
});
</script>
<div x-ng-app="meet" x-ng-controller="MembersController">
<h1>Meet the Boneheads</h1>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div x-ng-repeat="x in members.current | orderBy:'year'">
    <img src="{{getPic(x.picture)}}" style="margin-top: 0px; margin-bottom: 0px; margin-left: 15px; margin-right: 15px; float: right; width: 150px;" />
    <div><u>Name</u>: {{x.gov_name}}</div>
    <div><u>Major</u>: {{x.major}}</div>
    <div><u>Graduation Year</u>: {{x.year}}</div>
    <div><u>Height</u>: {{x.height}}</div>
    <div><u>Favorite TV show</u>: {{x.tv}}</div>
    <div><u>Favorite Food</u>: {{x.food}}</div>
    <div><u>Why I joined NUMB</u>: {{x.joined}}</div>
    <div><u>Favorite Bonehead Memory</u>: {{x.memory}}</div>
    <div><u>Boxers or Briefs</u>: {{x.underwear}}</div>
    <div><u>Secret talents</u>: {{x.talent}}</div>
    <div><u>Favorite Color</u>: {{x.color}}</div>
    <div>&nbsp;</div>
<div>&nbsp;</div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<h1>Meet the Bonehead Alums</h1>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div x-ng-repeat="x in members.alums | orderBy:'year':true">
    <img src="{{getPic(x.picture)}}" style="margin-top: 0px; margin-bottom: 0px; margin-left: 15px; margin-right: 15px; float: right; width: 150px;" />
    <div><u>Name</u>: {{x.gov_name}}</div>
    <div><u>Major</u>: {{x.major}}</div>
    <div><u>Graduation Year</u>: {{x.year}}</div>
    <div><u>Height</u>: {{x.height}}</div>
    <div><u>Favorite TV show</u>: {{x.tv}}</div>
    <div><u>Favorite Food</u>: {{x.food}}</div>
    <div><u>Why I joined NUMB</u>: {{x.joined}}</div>
    <div><u>Favorite Bonehead Memory</u>: {{x.memory}}</div>
    <div><u>Boxers or Briefs</u>: {{x.underwear}}</div>
    <div><u>Secret talents</u>: {{x.talent}}</div>
    <div><u>Favorite Color</u>: {{x.color}}</div>
    <div>&nbsp;</div>
<div>&nbsp;</div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
</div>